<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<pattern>
				%d{HH:mm:ss.SSS} %-5level [%logger{0}] : %msg%n
			</pattern>
		</layout>
	</appender>

	<logger name="org.springframework" level="WARN" />

	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"
		additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.jdbc.core" level="DEBUG"
		additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.data.mongodb" level="DEBUG"
		additivity="false">
		<appender-ref ref="console" />
	</logger>
	

	<logger name="sample" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<!-- <logger name="java.sql.PreparedStatement" level="DEBUG" -->
	<!-- additivity="false"> -->
	<!-- <appender-ref ref="console" /> -->
	<!-- </logger> -->



	<root level="DEBUG">
		<appender-ref ref="console" />
	</root>
	
</configuration>